@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar across browsers */
.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
